
.panel.panel-default
  .panel-heading
    h2.panel-title Change Email Address

  .panel-body
    form(
       action='/settings/update-email'
       method='POST'
    )
      .form-group
        label Email Address

        input.form-control(
          type='email'
          name='email'
          value=form.email
        )

      input.btn.btn-primary(
        type='submit'
        value='Save'
      )
