extends layout.pug

block content
  h1.greeting #{greeting}

  .panel.panel-default
    .panel-heading
      h2.panel-title Add your own greeting

    .panel-body
      form(
         action='/add-greeting'
         method='POST'
      )
        .form-group
          label Text
          input.form-control(
            type='text'
            name='greeting'
            placeholder='Enter a new greeting'
          )
        .form-group
          label Password
          input.form-control(
            type='password'
            name='password'
            placeholder='Enter the password'
          )

        input.btn.btn-primary(
          type='submit'
          value='Add'
        )
