extends ../layout.pug

block content
  h1.greeting New password

  .panel.panel-default
    .panel-heading
      h2.panel-title Enter new password

    .panel-body
      form(
         action='/login/new-password/'
         method='POST'
      )
        .form-group
          label Password
          input.form-control(
            type='password'
            name='password'
            placeholder='Enter the password'
          )

        .form-group
          label Repeat Password
          input.form-control(
            type='password'
            name='confirmPassword'
            placeholder='Enter the password'
          )

        input.btn.btn-primary(
          type='submit'
          value='Update password'
        )
